* {
  padding: 0;
  margin: 0;
}
/*img {
  display: block;
  max-width: 100%;
  height: auto;
}*/

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  margin: 0 auto 100px;
}
nav {
  vertical-align: middle;
  height: 32px;
}
.nav__menu {
  box-sizing: border-box;
  display: block;
  float: right;
  height: 32px;
  padding-top: 6px;
}

.nav__title {
  display: inline-block;
  box-sizing: border-box;
  font-size: 30px;
  font-family: 'Roboto';
  color: #515151;
  line-height: 1.067;
  vertical-align: middle;
}

.nav__title::first-letter {
  font-family: 'Roboto';
  color: rgb(26, 188, 156);
  text-transform: uppercase;
  line-height: 1.067;
}
.nav__menu > li {
  display: inline-block;
  vertical-align: middle;
}

.nav__menu > li:not(:last-child) {
  margin-right: 30px;
}

.nav_link {
  display: block;
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgb(26, 188, 156);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.786;
  width: auto;
}

.nav_link:hover,
.nav_link:focus {
  color: blue;
}

.gallery__list,
.blog__list {
  font-size: 48px;
  font-family: 'Roboto';
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;
  margin-bottom: 110px;
}

.gallery__card {
  float: left;
  box-sizing: border-box;
  width: 255px;
  height: 320px;
  background-color: rgb(233, 240, 253);
  margin: 15px 30px 15px 0px;
}

.gallery__card:nth-of-type(4n) {
  margin-right: 0px;
}
.gallery__card:nth-last-of-type(-n + 4) {
  margin-bottom: 0px;
}
.gallery__card:hover .gallery__card__name > p,
.gallery__card:focus .gallery__card__name > p {
  background-color: rgb(26, 188, 156);
}
.gallery__card:hover .gallery__card__name > span,
.gallery__card:focus .gallery__card__name > span {
  background-color: #7fd9c7;
}

.gallery__card a {
  display: block;
  width: 255px;
  height: 280px;
}

a.gallery__card__name {
  display: block;
  height: 40px;
  width: 255px;
}
.gallery__card__name > p {
  height: 40px;
  float: left;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 5px;
  width: 200px;
  background-color: #323232;
  font-size: 18px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
}
.gallery__card__name > span {
  height: 40px;
  float: right;
  box-sizing: border-box;
  padding-top: 5px;
  width: 55px;
  background-color: #8c8c8c;
  font-size: 18px;
  font-family: 'Roboto';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  text-align: center;
}
.clearfix:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.blog__list::after,
.gallery__list::after {
  content: '________';
  display: block;
  color: rgb(78, 198, 171);
  width: 165px;
  height: 7px;
  margin-left: 480px;
}

.blog__card {
  margin: 15px 30px 15px 0px;
  float: left;
  box-sizing: border-box;
  width: 350px;
}
.blog__card:nth-of-type(3n) {
  margin-right: 0px;
}
.blog__card:nth-last-of-type(-n + 3) {
  margin-bottom: 0px;
}
.blog__name {
  padding-top: 15px;
  font-size: 18px;
  font-family: 'Open Sans';
  color: rgb(85, 82, 82);
  line-height: 1.444;
  margin-bottom: 40px;
}

.blog__name::after {
  content: '__________________';
  display: block;
  color: rgb(78, 198, 171);
  width: 135px;
  height: 3px;
}

.blog__about {
  font-size: 14px;
  font-family: 'Open Sans';
  color: rgb(85, 82, 82);
  line-height: 1.857;
  margin-bottom: 15px;
}

.blog__card button {
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  font-size: 16px;
  font-family: 'Open Sans';
  color: rgb(255, 255, 255);
  line-height: 1.625;
  cursor: pointer;
}
